// $map: (
//   key: "value",
//   large: 60px,
//   medium: 55px,
//   small: 18px
// );
$map: (
  key: "value",
  large: 60px,
  medium: 55px,
  small: 18px,
);

$fontsizes: (
  //  '.key' : value,
  "h1": 40px,
  "h2": 32px,
  "h3": 24px,
  "span": 14px,
  "div": 16px,
  "p": 16px
); // map
