// $map: (
//   key: "value",
//   large: 60px,
//   medium: 55px,
//   small: 18px
// );

// 引用方式
// font-size: map-get($map: $fontsizes, $key: h1);


$map: (
  key: "value",
  large: 60px,
  medium: 55px,
  small: 18px,
);

$fontsizes: (
  //  '.key' : value,
  "h1": 40px,
  "h2": 32px,
  "h3": 24px,
  "span": 16px,
  "div": 16px,
  "p": 16px,
  "s_span": 14px,
  "s_p": 14px
); // map