.card {
  width: 520px;
  height: 300px;
  border: 10px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: center;

  .text {
    .title {
      p {
        font-weight: 700;
      }

      .time {
        font-weight: inherit;
        color: #555555;
      }
    }
  }
}
