.mrtTitle {
  h1 {
    margin: 3rem 0;
    text-align: center;
    font-size: 40px;
  }
}

.mrtLineCheck {
  overflow: hidden;

  .mrtPic {
    position: relative;
    display: flex;
    // z-index: 2;
    width: 1920px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #333;
    padding-block: 30px;
    z-index: 0;

    img {
      object-fit: cover;
      height: 100%;
    }

    .pic {
      width: 10%;
      height: 400px;
      overflow: hidden;
      transform: skew(-5deg);
      position: relative;
      bottom: 10px;
    }

    .mrtMainLine {
      transform: skew(-5deg);
      // box-shadow: 30px 30px 0 10px #333;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      width: 60%;

      .pic {
        width: 16.6666%;
        transform: skew(0deg);
        z-index: 5;
      }
    }

    .mrtGrayStyle {
      filter: grayscale(100%);
    }
  }

  .mrtTag {
    display: flex;
    justify-content: space-around;
    max-width: 1155px;
    margin: auto;
    padding-inline: 2%;

    .red {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin-inline: auto;
        width: 5px;
        height: 95px;
        top: -194%;
        background: map-get($color, $key: danger);
        z-index: 0;
      }
    }

    .blue {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin-inline: auto;
        width: 5px;
        height: 95px;
        top: -194%;
        background: map-get($color, $key: info);
        z-index: 0;
      }
    }

    .green {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin-inline: auto;
        width: 5px;
        height: 95px;
        top: -194%;
        background: map-get($color, $key: success);
        z-index: 0;
      }
    }

    .orange {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin-inline: auto;
        width: 5px;
        height: 95px;
        top: -194%;
        background: map-get($color, $key: tangerine);
        z-index: 0;
      }
    }

    .brown {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin-inline: auto;
        width: 5px;
        height: 95px;
        top: -194%;
        background: map-get($color, $key: choco);
        z-index: 0;
      }
    }

    .yellow {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
        margin-inline: auto;
        width: 5px;
        height: 95px;
        top: -194%;
        background: map-get($color, $key: warning);
        z-index: 0;
      }
    }

    .red:hover {
      background-color: map-get($color, $key: danger);
      color: #fff;
    }

    .blue:hover {
      background-color: map-get($color, $key: info);
      color: #fff;
    }

    .green:hover {
      background-color: map-get($color, $key: success);
      color: #fff;
    }

    .orange:hover {
      background-color: map-get($color, $key: tangerine);
      color: #fff;
    }

    .brown:hover {
      background-color: map-get($color, $key: choco);
      color: #fff;
    }

    .yellow:hover {
      background-color: map-get($color, $key: warning);
      color: #fff;
    }

    .title-tag {
      font-size: 32px;
      padding: 1rem 0;
      width: 12%;
      margin: 3rem 2rem 2rem 0;
      position: relative;
      background: #fff;
      display: block;
    }
  }
}

.mrtBanner:nth-of-type(2) {
  right: 0;
  transform: rotate(180deg);
}

.mrtBanner {
  width: 20%;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  z-index: -1;
  // padding-inline: 5%;

  .swiper {
    width: 100%;
    height: 100%;
    // inset: 0;
    // margin: auto;

    .swiper-wrapper {
      transition-timing-function: linear !important;

      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .mrtLineCheck {
    .mrtPic {
      width: 100%;
      left: 50%;
      transform: translate(-50%, 0%);

      .mrtMainLine {
        width: 95%;
      }
    }

    .mrtTag {
      .title-tag {
        font-size: 24px;
        width: 15%;
      }
    }

    .mrtGrayStyle {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .mrtLineCheck {
    .mrtPic {
      padding-block: 15px;
      height: 300px;

      .mrtMainLine {
        width: 95%;
        z-index: 2;

        a {
          height: 100%;
          bottom: 0;
        }
      }
    }

    .mrtTag {
      width: 90vw;
      max-width: 100vw;

      .title-tag {
        font-size: 18px;
        width: 30%;
        margin: 2rem auto;
      }

      .red {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .blue {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .green {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .orange {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .brown {
        &::after {
          height: 50px;
          top: -100%;
        }
      }

      .yellow {
        &::after {
          height: 50px;
          top: -100%;
        }
      }
    }
  }

  @media screen and (max-width: 414px) {
    .mrtLineCheck {
      .mrtPic {
        height: 200px;
      }
    }
  }
}
